:root {
    --width: 720px;
    --font-main: Sans-serif;
    --font-secondary:Sans-serif;
  	--font-title:Helvetica;
    --font-scale: 1.2em;
    --background-color: #F6F1F1;
  	--background-color-secondary:#e1dfdf;
    --button-gradient:linear-gradient(var(--background-color) 43%, var(--background-color-secondary) 47%);
    --button-gradient-hover:linear-gradient(rgba(158,197,218,.3)  43%,  rgba(86,134,160,.3) 47%);
	--heading-color: #3f728e;
  	--text-color: #3A4247;
  	--link-color: #5585A1;
  	--visited-color: #636A6F;
  	--code-background-color: #F6F1F1;
  	--code-color: #4788AD;
  	--blockquote-color: #143041;
}

html{
    padding:1rem;
}

body {
    border: 1px solid var(--text-color);
    border-radius: 6px;
    font-family: var(--font-main);
    font-size: var(--font-scale);
    margin: auto;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
    box-shadow: 7px 0px 30px -14px var(--text-color);
    position: relative;
   
}

main {
    margin-bottom: 20px;
 	padding: 1.5rem;
  	border-top: 1px solid var(--text-color);
    font-size: 1.1rem;
    background-color:var(--background-color)
}

iframe{
    border-radius: 4px;
    align-self: center;
    justify-self: center;
    outline:1px solid var(--text-color);
    border: 1px solid var(--background-color-secondary);
    width: 100%;
}

h1,
h2,
h3,
h4{
  	font-family: var(--font-title);
    color: var(--heading-color);
    font-weight: 300;
}

main a {
    color: var(--heading-color);
    cursor: pointer;
}

main a:visited {
    color: var(--visited-color);
}

.blog main{
    display:flex;
    flex-direction:column
}

li::marker {
    color: var(--heading-color);
}

.title{
    font-size:0.8rem;
    font-family: var(--font-title);
    display: flex;
    text-decoration: none;
    padding:.2rem;
    background:linear-gradient(53deg, rgba(158,197,218,1) 0%, rgba(86,134,160,1) 39%, rgba(63,114,142,1) 100%);
    border:1px solid rgb(182, 214, 231);
    border-radius: 4px 4px 0 0;
    text-shadow:  1px 1px 10px var(--background-color);
}

.title h1 {
    font-size: 1.2em;
    color: var(--text-color);
    display: inline;
    align-self: center;
    margin: 0;
    padding:5px 0px
  }

.title::before {
    content: '🌏';
    color: var(--code-color);
    text-align: center;
    align-self: center;
}

nav p{
    display: flex;
    flex-flow: wrap;
    gap: .3rem;
    font-size:1rem;
    margin:6px;
    padding: 4px;
}

nav a {
    text-decoration:none;
  	padding: 5px 10px;
  	color: var(--heading-color);
    text-align: center;
    border: 2px solid var(--background-color);
    outline: 2px solid var(--background-color);
}

nav a:hover{
	text-decoration:none;
    border-radius: 4px;
    border: 2px solid var(--background-color-secondary);
    background: var(--button-gradient)
}

nav p.close{
    display: flex;
    justify-content: center;
    position: absolute;
    width:40px;
    height: 18px;
    margin: 0;
    top: 1px;
    right: 10px;
    background: linear-gradient(#ebb8af 40%, #c9422a 50%, #ebb8af 99%);
    border: 1px solid var(--background-color-secondary);
    outline: 1px solid var(--text-color);
    border-top: none;
    border-radius: 0px 4px ;
    font-weight: 800;
    font-size: .8rem;
    text-align: center;
    text-shadow: 0 0 2px #000000;
    cursor: pointer;
}


nav p.close a{
    border: none;
    outline: none;
    padding: 0;
    color: white;
}

nav p.close a:hover{
    background: initial;
}

p{
    margin:10px 0px;
}
  
strong{
    color: var(--heading-color);
}
  
mark {
    background-color: var(--heading-color);
}
  
ul {
    list-style: symbols(cyclic '>');
}
  
b {
    color: var(--heading-color);
}

button {
    margin: 0;
    cursor: pointer;
}

img {
    max-width: 100%;
  	width: 50%;
    border-radius:4px;
}

.full-img {
	width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
}

blockquote {
    border-left: 1px solid var(--heading-color);
    background: var(--background-color-secondary);
    color: var(--text-color);
    padding: 1px 10px;
    font-style: italic;
    margin-left: 0px;
    margin-right: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px dashed var(--heading-color);
    padding: 10px;
}

hr{
    height: 1px;
    background-color: var(--background-color-secondary);
	border: 0;
}

.inline {
    width: auto !important;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

.highlight {
    border-left: 5px solid var(--heading-color);
}

.tags{
    display: flex;
    font-size: 1rem;
    gap:7px;
    flex-wrap: wrap;
}

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
  	order:2;
}

ul.blog-posts li {
    margin-bottom: 20px;
}

ul.blog-posts li a{
 width: fit-content;
 margin-left: 8px;
}

ul.blog-posts li time {
    font-style: normal;
}

ul.blog-posts li span {
   width: fit-content;
}

ul.blog-posts li a:visited {
    color: var(--visited-color);
}

.comments-button{
  background-color: var(--code-color);
  border-radius: 5px;
  color: var(--background-color);
  padding: .3em;
}

.comments-button:hover{
	background-color: var(--blockquote-color);
}

/*upvote button*/
.upvote-button svg {
  display: none; 
}
.upvote-button {
  display: flex;
  flex-direction: column;
  padding:5px !important;
  font-family: var(--font-secondary);
  outline: 1px solid var(--text-color);
  border: 2px solid var(--background-color-secondary) !important;
  border-radius: 5px;
  background: var(--button-gradient);
  color: var(--text-color);
  transition: background 4s ease-in-out;
  margin-top: 20px;
}
.upvote-count { 
  font-size: 1em;
}

.upvote-button::before {
  content: "❤︎";
  color: var(--text-color);
  font-size: 1.5em;
}

.upvote-button:hover{
    background: var(--button-gradient-hover);
}

.upvote-button[disabled] {
  cursor: default;
}
.upvote-button[disabled]::before {
  content: "❤︎";
  color: var(--heading-color);
  font-size: 1.5em;
}
.upvote-button[disabled] .upvote-count{
    color: var(--heading-color) !important;
}

.upvote-button.upvoted {
  color: var( --heading-color) !important;
}

.container{
  display: flex;
  gap: 2rem;
}

.container img{
	width:25%
}

.segment-container{
  max-width: 80vw;
  height: fit-content;
  margin-top: 25px;
  display:flex;
  flex-direction:column;
  gap:0.5rem;
  border: 2px solid var(--background-color-secondary);
  border-radius: 2px;
  padding: 4px;
  position: relative;
  outline: .1px solid var(--text-color);
}

.segment-container-title {
    position: absolute;
    top: -27px;
    left: 15px;
    background: var(--background-color);
    font-size: .9rem;
    padding: 0 2px ;
    color: var(--text-color);
}

.segment-container p{
	margin: 0;
    padding:10px 35px;
    font-size: .9rem;
}

.end-notes::before {
    content: "[End notes]";
    position: absolute;
    bottom: -1rem;
    background-color: var(--background-color);
    color: var(--heading-color);
    padding: 0.3rem;
    right: 1rem;
}
  
.end-notes {
border: 2px solid var(--background-color-secondary);
padding: 1rem;
margin: .5rem 0;
border-radius: 3px;
position: relative;
padding-bottom: 0;
}

footer {
    padding: 25px 0;
    text-align: center;
    opacity: 0.6;
}
footer a{
    color: var(--link-color);
}

footer a:visited {
color: var(--visited-color);
}  

@media only screen and (max-width:767px) {
    main {
        margin-bottom: 10px;
    }

    ul.blog-posts li {
        flex-direction: column;
    }

    ul.blog-posts li span {
        flex: unset;
    }
  .container{
  	flex-direction:column;
    align-items: center;
  }
  
  .container img{
  	width:50%;
  }
  
  .status-container{
    width: auto;
	margin:0;

  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1e1e1e;
        --background-color-secondary:#303030;
        --button-gradient:linear-gradient(var(--background-color-secondary) 43%, var(--background-color) 47%);
        --heading-color: #77ddff;
        --text-color: #e2e2e2;
        --link-color: #77ddff;
        --visited-color: #5d92b8;
        --code-background-color: #2d2d2d;
        --code-color: #77ddff;
        --blockquote-color: #5599cc;
    }

    body{
        border: 1px solid var(--background-color-secondary);
    }
}